<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href ng-click=changeLocation('/home')>
      	<span class="glyphicon glyphicon-home"></span>Sandana</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href ng-click=changeLocation('/add_friend')>AddFriends</a></li>
        <li><a href ng-click=changeLocation('/create_group')>CreateGroup</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="Search Filter">
      </div><!-- /input-group -->
      <ul class="list-group">
        <li ng-show="(chatInfoList.length !== 0)"class="list-group-item list-group-item active"><b>Chat</b></li>
        <a href ng-repeat="chatInfo in chatInfoList" class="list-group-item"><span class="badge">{{chatInfo.numUnreadMessages}}</span> {{chatInfo.name}} </a>
        <li class="list-group-item list-group-item active"><b>0 & X</b></li>
        <a href="#" class="list-group-item"><span class="badge">14</span> ThirdGroup </a>
        <a href="#" class="list-group-item"><span class="badge">14</span> FourthGroup </a>
      </ul>
    </div>
  </div>
</div>